.add-trip-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.add-trip-content {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 450px;
  text-align: center;
  margin-top: 40px;
}
.form-group input[type="text"],
.form-group input[type="password"],
.add-trip-form input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
}
.add-trip-content h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ffffff;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  font-size: 1rem;
  font-weight: bold;
  color: #fefefe;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #10101093;
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}

.error-message {
  color: #ef120b;
  font-size: 0.9rem;
  margin-top: 5px;
}

.participants-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.participant-item {
  display: flex;
  color: rgb(26, 26, 25);

  align-items: center;
  font-weight: bold;
  padding: 8px 12px;
  background-color: #f9f9f943;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.participant-item button {
  margin-left: 10px;
  background-color: rgba(255, 149, 0, 0.878);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px;
}

.participant-item button:hover {
  background-color: darkred;
}

.add-participant-btn {
  display: block;
  margin: 10px;
  padding: 10px 150px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background: linear-gradient(45deg, #5f748a, #0056b3);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-participant-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #828282, #003d80);
}
.remove-btn {
  border: none;
  color: #ffe100fe;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  transition: all 0.3s ease;
}

.remove-btn:hover {
  background-color: #ff4d5019;
  color: #fff;
  box-shadow: 0 2px 8px rgba(255, 77, 79, 0.5);
}
.submit-btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background: linear-gradient(45deg, #5f748a, #0056b3);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}
.participant-error {
  color: rgb(242, 17, 17);
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 5px;
  text-align: left;
}

.view-details-btn {
  display: block;
  padding: 10px 20px;
  font-size: 1.1rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 20px auto;
}
h4 {
  color: greenyellow;
}
